<div class="home-container">
    <div class="home__header"> 
        <div class="home__header__left">
            <img mat-card-avatar src="assets/fb-head.jpg"/>
            <div class="input">
              <mat-icon class="search-icon">search</mat-icon>
              <form>
                <input placeholder="Search Facebook" type="text">
              </form>
            </div>
        </div>
        <div class="home__header__middle">
            
        </div>
        <div class="home__header__right">
            
        </div>
    </div>
    <div class="home__body"></div>

</div>