
<div class="login-container">
    <header class="login-header">
        <div class="left">
            <img src="../../../assets/fb-logo-1.jpg" alt="">
            <h2>Facebook helps you connect and share with the people in your life.</h2>
        </div>
        <div class="right">
            <mat-card>
                <mat-card-content>
                    <form #form='ngForm' class="login-form" (ngSubmit)="login(form)">
                        <input type="email" name="email" ngModel placeholder="Email Address" required>
                        <input type="password" name="password" ngModel placeholder="Password" required>
                        <button type="submit" [disabled]="form.invalid ||form.pending"></button>
                    </form>
                    <a href="#"> Forgotten Account?</a>
                    <button class="create-account" (click)="openRegister()">Create New Account</button>
                </mat-card-content>
            </mat-card>

            <p>Ctreate a Page for a celebrity,band or business</p>
        </div>
    </header>
    <footer>
        <img src="../../../assets/footer_crop.jpg" alt="">
    </footer>
</div>